@font-face {
  font-family:<fontLletra.woff2>;
  src:("fontLletra.woff2");
  font-weight: 900;
  font-style: normal;
}
.un{
  background-image: url("imatges/portada.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Així ocupa tota la pàgina*/
  font-family: "fontLletra", sans-serif;/* enllaç a l'arxiu de fonts*/
  font-size: 6vw;
  text-decoration: none;
  position: absolute;
  top: 25%;
  text-align: center;

}
.link{
color : white;
text-decoration: none;
}
.link:active{
color: black;

}



.dos{
  background-color: #f2f2f2;
}

ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;


}
li{
  display: inline-block;
  margin: auto;
  margin-top:5%;

}
.dos a{
  text-decoration: none;
  background-color: #C0C0C0C0;
  color: white;
  padding: 1em;
  font-size: 3vw;
}





ul#galeria li {
margin: 10% 0 0 10%;
padding: 0;
float: left;

}
ul#galeria li a{
background-color: #faf7ec; /*el color del marc de la imatge*/
height:360px; /*l'alçada, la mateixa que la imatge*/
width:520px;
display: block;
position: relative;
top: 0;
left: 0;
margin: 0;
padding: 0.2%; /*el padding que le dará amplitud al marco*/
font-size: 30px; /*mida text que es veurà al hover*/
color:#ffffff;
text-align: center;
text-decoration: none; /*text sense decoració*/
white-space: nowrap; /*per estalviarnos el salt en linea del text*/
}
ul#galeria li img {
width: 520px; /*ample de la imatge*/
height: 360px;
margin: 0;
padding: 0;
border: none;
}
ul#galeria span{
width:0;
height: 0;
left: 0;
top: 0;
padding:0;
margin: 0;
position: absolute;
overflow: hidden;
}

ul#galeria li a:hover { /*efecte hover*/
background-color: #ffffff; /*color del marc*/
/*ombres pels distints navegadors */
-webkit-box-shadow:0px 0px 30px #0A122A;
-moz-box-shadow: 0px 0px 30px #0A122A;
 box-shadow: 0px 0px 30px #0A122A;
}
ul#galeria li a:hover span{ /*el text ocult del hover*/
width: 260px; /*amplada del fons del text*/
top: 0;
left: 3px;
height: 30px; /*l'alçada del fons del text*/
margin: 148px 0 0 0;
padding: 10px 0; /*el padding a dalt i a baix per separar-lo del text*/
background-color: #000000; /*color de fons del text*/

opacity: .7;
filter:alpha(opacity=70);
overflow: visible;
cursor: pointer;
}


@media (max-width: 73px) {
  #galeria li{
    margin: auto;
    width: 80%;
    height: 80%;
  }
  ul#galeria li img{
    width: 80%;
    height: 80%;
  }
  ul#galeria li a {
  background-color: #faf7ec; /*el color del marc de la imatge*/
  height:80%; /*l'altura, la mateixa que la imatge*/
  width:80%;

  }
  ul#galeria li a:hover span{ /*el text ocult del hover*/
  width: 208px; /*amplada del fons del text*/
  top: 0;
  left: 3px;
  height: 25px; /*l'alçada del fons del text*/
  margin: 124px 0 0 0;
  padding: 0 0; /*el padding a dalt i a baix per separar-lo del text*/
  background-color: #000000;
}
  @media(max-width: 480px){
    #galeria li{
      width: 70%;
      height: 70%;
    }
    ul#galeria li img{
      width: 70%;
      height: 70%;
  }
  ul#galeria li a {
  width: 70%;
}
ul#galeria li a:hover span{ /*el text ocult del hover*/
width: 30%; /*amplada del fons del text*/
top: 0;
left: 3px;
height: 25px; /*l'alçada del fons del text*/
margin: 20px 0 0 0;
padding: 0 0; /*el padding a dalt i a baix per separar-lo del text*/
}
}
