body{
background-color:  #C0C0C0;
font-size: 2.5vw;
}
header{
font-family: "fontLletra", sans-serif;/
font-size: 100px;
color: white;
background-color: grey;

}
img {

float: right;
margin-top: 5%;
margin-right: 1em;
position: relative;
border: 5px solid #ddd;
border-radius: 4px;
width: 75%;
z-index: 1;
}

aside {
position:absolute;
width: 20%;
}
img :hoover{
background-image: cover;
}
footer {
  text-decoration: none;
  position: absolute;
  padding: 2%;
  left:50%;
  bottom: 10%;
  clear: both;
  float: right;
  font-size:3vw;
  color: white;
  border: 5px solid grey;
}
}
